@font-face {
  font-family: "kust-font";
  src: url("kust.woff") format("woff"), url("kust.otf") format("otf"), url("kust.ttf") format("ttf"); }
html {
  font-size: 10px;
  padding: 0;
  margin: 0; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  padding: 4.4rem;
  position: relative;
  background: #ecf3f3;
  margin: 0; }
  body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2.4rem solid white; }
  body section {
    display: block;
    max-width: 96rem;
    margin: 0 auto;
    padding: 0.1rem 0; }
  body .main-panel {
    margin-bottom: 26rem;
    position: relative;
    background: #fff;
    box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1); }
    body .main-panel a {
      text-decoration: none; }
    body .main-panel .title {
      position: absolute;
      letter-spacing: 0.3rem;
      opacity: 0.8;
      font-size: 16rem;
      font-weight: 500;
      text-transform: uppercase;
      font-family: "kust-font", sans-serif; }
      body .main-panel .title p {
        margin: 0; }
    body .main-panel .blurb {
      position: absolute;
      line-height: 5rem;
      font-size: 1.8rem;
      font-weight: 500;
      top: 0rem;
      left: 0rem;
      letter-spacing: 0.05rem; }
  body .section-number {
    position: absolute;
    z-index: -1;
    font-size: 20rem;
    top: -8rem;
    left: -18rem;
    font-weight: 700;
    color: white; }
  body .section-about .main-panel {
    max-width: 70rem;
    margin-left: 17rem;
    margin-top: 5rem;
    background: none;
    box-shadow: none; }
    @media (max-width: 600px) {
      body .section-about .main-panel {
        margin-left: 0; }
        body .section-about .main-panel .section-number {
          display: none; } }
    body .section-about .main-panel .face {
      padding-top: 75%;
      background-image: url("deepak_profile.jpg");
      background-size: cover;
      background-position: center;
      box-shadow: 0px 80px 110px -40px rgba(86, 119, 119, 0.68), 0px 5px 20px rgba(0, 0, 0, 0.1); }
    body .section-about .main-panel .title {
      width: 60rem;
      top: -2.2rem;
      left: 40rem;
      color: #4dc1ff;
      padding-top: 1rem;
      transition: width 300ms ease-in-out, left 300ms ease-in-out; }
      body .section-about .main-panel .title p {
        position: relative; }
        body .section-about .main-panel .title p span {
          position: absolute; }
        body .section-about .main-panel .title p .line1 {
          top: -5rem;
          left: 9rem; }
        body .section-about .main-panel .title p .line2 {
          top: 4rem;
          left: 24rem; }
      @media (max-width: 1400px) {
        body .section-about .main-panel .title {
          left: 300px; } }
      @media (max-width: 1200px) {
        body .section-about .main-panel .title {
          left: -40px;
          width: 500px; } }
      @media (max-width: 780px) {
        body .section-about .main-panel .title {
          left: -80px;
          width: 200px;
          top: -20px;
          font-size: 100px; }
          body .section-about .main-panel .title .line2 {
            margin-top: -25px;
            margin-left: -30px; } }
      @media (max-width: 600px) {
        body .section-about .main-panel .title {
          width: 300px;
          font-size: 100px;
          left: -120px; }
          body .section-about .main-panel .title .line2 {
            margin-top: -30px;
            margin-left: -50px; }
          body .section-about .main-panel .title .line1 {
            margin-top: 0px; } }
    body .section-about .main-panel .blurb {
      width: 29rem;
      margin-left: -330px;
      margin-top: -250px;
      text-align: center;
      position: relative;
      margin-bottom: 320px;
      color: rgba(0, 0, 0, 0.7); }
      @media (max-width: 1400px) {
        body .section-about .main-panel .blurb {
          margin-left: -120px;
          margin-top: -60px;
          background: white;
          padding: 20px;
          box-shadow: 0px 40px 34px -30px rgba(0, 0, 0, 0.2);
          font-size: 16px;
          line-height: 3rem; } }
      @media (max-width: 960px) {
        body .section-about .main-panel .blurb {
          font-size: 14px; } }
      @media (max-width: 780px) {
        body .section-about .main-panel .blurb {
          margin-top: -40px; } }
      @media (max-width: 600px) {
        body .section-about .main-panel .blurb {
          margin-left: 40px;
          margin-right: 20px;
          width: auto;
          margin-top: -20px; } }
  body .section-contact .main-panel {
    max-width: 54rem;
    margin-left: 0px;
    height: 23rem;
    margin-bottom: 10rem; }
    @media (max-width: 1000px) {
      body .section-contact .main-panel {
        margin-left: 20%; }
        body .section-contact .main-panel .section-number {
          display: none; } }
    @media (max-width: 700px) {
      body .section-contact .main-panel {
        margin-left: 0; } }
    @media (max-width: 480px) {
      body .section-contact .main-panel {
        height: auto; } }
    body .section-contact .main-panel .section-number {
      top: 7rem;
      left: 48rem; }
    body .section-contact .main-panel .title {
      width: 31rem;
      top: -7.5rem;
      margin-left: 27rem;
      color: #ff8da1; }
      @media (max-width: 1000px) {
        body .section-contact .main-panel .title {
          margin-left: 10px; } }
      @media (max-width: 525px) {
        body .section-contact .main-panel .title {
          width: 200px;
          font-size: 100px;
          margin-left: 0px;
          top: -50px; } }
    body .section-contact .main-panel .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 13rem; }
      @media (max-width: 625px) {
        body .section-contact .main-panel .icons {
          padding: 0 80px; } }
      @media (max-width: 480px) {
        body .section-contact .main-panel .icons {
          flex-direction: column;
          padding: 40px; } }
      body .section-contact .main-panel .icons a {
        display: block;
        width: 36px;
        height: 36px;
        transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
        margin: 10px; }
        body .section-contact .main-panel .icons a .fa {
          color: #333;
          font-size: 3.2rem; }
        body .section-contact .main-panel .icons a:hover {
          transform: scale(1.2); }

/*# sourceMappingURL=styles.css.map */
